extends layout

block content
    form(action="/cigarette/result", method="post")
        table
            -for (var i=0; i<cigaSize; ++i)
                -var cigaName = cigaNames[i]
                if i%5 == 0
                    include divider.pug
                if  show
                    -var cigaCount = cigaCounts[i]
                    include item_show.pug
                else
                    include item_input.pug
        if show == false
            input(type="submit", value="확인")
